%h2 Dies ist eine Überschrift
%div
  %p
    Einrückung definiert die Tag Schachtelungen.
    %p ist weiter eingerückt ist also ein Kind-Element von %div
    Das gleiche trifft auf diesen Text zu.
  %p Text innerhalb eines Tags kann einzeilig in der gleichen Zeile stehen.
  %p